:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #fff;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnSuccess {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }

  .btnError {
    @apply bg-red-500 text-white font-bold py-2 px-4 rounded;
  }

  .title {
    @apply w-[80%] mx-auto text-4xl font-bold underline text-center;
  }

  .subtitle {
    @apply w-[80%] mx-auto text-2xl font-bold text-center;
  }

  .comments {
    @apply flex flex-col;
  }

  .customHover {
    @apply transition-all duration-100 hover:cursor-pointer shadow-slate-900 shadow-2xl rounded-xl overflow-hidden;
  }

  .neumorphism {
    @apply bg-[#f0f0f0] text-black border-none py-4 px-6 text-lg cursor-pointer rounded-xl;
    box-shadow: 5px 5px 15px #c7c7c7, -5px -5px 15px #ffffff;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 8px 8px 20px #c7c7c7, -8px -8px 20px #ffffff;
    }

    &:active {
      box-shadow: inset 5px 5px 15px #c7c7c7, inset -5px -5px 15px #ffffff;
    }
  }

  .neumorphism2 {
    @apply py-4 px-6 rounded-xl bg-[#e0e0e0];
    background: #e0e0e0;
    box-shadow: 13px 13px 26px #c5c5c5, -13px -13px 26px #fbfbfb;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 8px 8px 20px #c7c7c7, -8px -8px 20px #ffffff;
    }

    &:active {
      box-shadow: inset 5px 5px 15px #c7c7c7, inset -5px -5px 15px #ffffff;
    }
  }
}